<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <gateways>
        <gateway>
            <queueName>connection1</queueName>
            <alias>SMPP_PROVIDER</alias>
            <gatewayType>local</gatewayType>
            <preFetchCount>1</preFetchCount>
            <host>127.0.0.1</host>
            <port>2775</port>
            <login>SMPP_SYSTEM_ID</login>
            <password>SMPP_PASSWORD</password>
            <bindType>transceiver</bindType>
            <systemType>iso</systemType>
            <ESMMessageNode>default</ESMMessageNode>
            <ESMMessageType>default</ESMMessageType>
            <ESMGSMSpecificFeature>default</ESMGSMSpecificFeature>
            <protocolId>0</protocolId>
            <sourceAddrTon>alphanumeric</sourceAddrTon>
            <sourceAddrNpi>isdn</sourceAddrNpi>
            <destinationAddrTon>national</destinationAddrTon>
            <destinationAddrNpi>isdn</destinationAddrNpi>
            <replacePending>false</replacePending>
        </gateway>
    </gateways>
</configuration>